body {
  margin: 0;
  background-color: #f5f5f5;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.95);
  }
  50%{
    transform: scale(1); 
  }
  100% {
    transform: scale(1);
  }
}